body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent body overflow */
}

.container {
  background-color: #333; /* Dark mode container background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 90%; /* Adjusted for mobile */
  max-width: 600px; /* Ensures it doesn't get too wide on larger screens */
  text-align: center;
  max-height: 90vh; /* Set maximum height */
  overflow-y: auto; /* Make container scrollable */
}

h1 {
  margin-bottom: 20px;
}

.converter {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: flex;
  flex-direction: column; /* Changed for mobile */
  margin-bottom: 10px;
}

select {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px; /* Changed for mobile */
  border: 1px solid #666; /* Dark mode border */
  border-radius: 4px;
  background-color: #444; /* Dark mode select background */
  color: #fff; /* Dark mode select text color */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.project-card {
  background-color: #444; /* Dark mode project card background */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column; /* Changed for mobile */
  align-items: flex-start; /* Changed for mobile */
}

.project-card h3 {
  margin: 0;
  font-size: 18px;
}

.project-card p {
  margin: 0;
  font-size: 14px;
  color: #ccc; /* Dark mode project card text color */
}

.project-card a {
  margin-top: 10px; /* Added for spacing */
  text-decoration: none;
  color: #007BFF;
}

.project-card a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .dropdown {
    flex-direction: column;
  }

  select {
    margin-bottom: 10px;
    margin-right: 0; /* Reset margin-right for mobile */
  }

  .project-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination {
    flex-direction: column;
  }

  .pagination button {
    margin: 5px 0;
  }
}